﻿<div>
    <h3><i class="fa fa-universal-access"></i> Dashboard</h3>
</div>
<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <strong>
                    <span data-bind="text: config.given_name">given name</span>&nbsp;
                    <span data-bind="text: config.family_name">family name</span>
                </strong>
                <br />
                <i class="fa fa-envelope-o"></i> <span data-bind="text: config.email">email</span><br />
                <i class="fa fa-map-marker"></i> <span data-bind="text: config.address">address</span><br />
                <br />
                <a href="#profile">More profile</a> ...
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <center>
                    <h4>User Management</h4>
                    <hr />
                    <p>
                        <i class="fa fa-user-circle-o fa-4x text-muted"></i>
                    </p>
                    <p>
                        <a class="btn btn-primary" href="#local-users-all">Manage</a>&nbsp;
                        <a class="btn btn-default" href="#local-user-details/0">Add</a>&nbsp;
                    </p>
                </center>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <center>
                    <h4>New Feature</h4>
                    <hr />
                    <p>
                        <i class="fa fa-commenting-o fa-4x text-muted"></i>
                    </p>
                    <p>
                        <a class="btn btn-primary" href="#new-feature-all">Manage</a>&nbsp;
                        <a class="btn btn-default" href="#new-feature-details/0">Add</a>&nbsp;
                    </p>
                </center>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <center>
                    <h4>New Feature</h4>
                    <hr />
                    <p>
                        <i class="fa fa-commenting-o fa-4x text-muted"></i>
                    </p>
                    <p>
                        <a class="btn btn-primary" href="#new-feature-all">Manage</a>&nbsp;
                        <a class="btn btn-default" href="#new-feature-details/0">Add</a>&nbsp;
                    </p>
                </center>
            </div>
        </div>
    </div>
</div>
