﻿<div>
    <h3>
        <i class="fa fa-user-circle-o"></i> User Details
        <i class="fa fa-spinner fa-pulse fa-fw" data-bind="visible: isBusy"></i>
    </h3>
    <hr />

    <form class="form-horizontal" data-bind="with: entity" id="local-user-details-form">
        <!--ko ifnot: $root.showEditForm-->
        <div class="form-group row">
            <label class="col-md-2 col-form-label">Username</label>
            <div class="col-md-6">
                <input type="text" readonly class="form-control-plaintext" data-bind="value: Username" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label">Email</label>
            <div class="col-md-6">
                <input type="text" readonly class="form-control-plaintext" data-bind="value: Email" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label">FirstName</label>
            <div class="col-md-6">
                <input type="text" readonly class="form-control-plaintext" data-bind="value: FirstName" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label">LastName</label>
            <div class="col-md-6">
                <input type="text" readonly class="form-control-plaintext" data-bind="value: LastName" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label">DateOfBirth</label>
            <div class="col-md-6">
                <input type="text" readonly class="form-control-plaintext" data-bind="value: DateOfBirth" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label">Location</label>
            <div class="col-md-6">
                <input type="text" readonly class="form-control-plaintext" data-bind="value: Location" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label">Roles</label>
            <div class="col-md-6">
                <input type="text" readonly class="form-control-plaintext" data-bind="value: Roles" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-offset-2 col-md-6">
                <button class="btn btn-primary" data-bind="click: $root.toggleShowEditForm">Edit</button>
                <button class="btn btn-primary" data-bind="click: $root.deleteEntity">Delete</button>
                <button class="btn btn-outline-secondary" data-bind="click: $root.backToEntityList">Back</button>
            </div>
        </div>
        <!--/ko-->
        <!--ko if: $root.showEditForm-->
        <div class="form-group row">
            <label class="col-md-2 col-form-label">Username</label>
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Username" name="Username" data-bind="value: Username, css: { 'is-invalid': $root.usernameExist() }" />
                <!--ko if: $root.usernameExist()--><div class="error">Username is not available</div><!--/ko-->
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label">Email</label>
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Email" name="Email" data-bind="value: Email, css: { 'is-invalid': $root.emailExist() }" />
                <!--ko if: $root.emailExist()--><div class="error">Email is not available</div><!--/ko-->
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label">FirstName</label>
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="FirstName" name="FirstName" data-bind="value: FirstName" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label">LastName</label>
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="LastName" name="LastName" data-bind="value: LastName" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label">DateOfBirth</label>
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="DateOfBirth" name="DateOfBirth" data-bind="value: DateOfBirth" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label">Location</label>
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Location" name="Location" data-bind="value: Location" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label">Roles</label>
            <div class="col-md-6">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Roles" id="GroupsInput" />
                    <span class="input-group-btn">
                        <button class="btn btn-secondary" data-bind="click: addChildItem(Roles, document.getElementById('GroupsInput').value)">Add</button>
                    </span>
                </div>
                <ul class="list-inline" data-bind="foreach: Roles">
                    <li>
                        <span data-bind="text: $data"></span>
                        <a class="btn btn-link" data-bind="click: $parent.removeChildItem($parent.Roles, $data)"><i class="fa fa-trash"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-offset-2 col-md-6">
                <!--ko ifnot: $root.id() === "0"-->
                <button class="btn btn-primary" data-bind="click: $root.editEntity, disable: $root.usernameExist() || $root.emailExist()">Edit</button>
                <button class="btn btn-secondary" data-bind="click: $root.toggleShowEditForm">Cancel</button>
                <!--/ko-->
                <!--ko if: $root.id() === "0"-->
                <button class="btn btn-primary" data-bind="click: $root.addEntity, disable: $root.usernameExist() || $root.emailExist()">Add</button>
                <button class="btn btn-outline-secondary" data-bind="click: $root.backToEntityList">Back</button>
                <!--/ko-->
            </div>
        </div>
        <!--/ko-->
    </form>

    <hr />
</div>