﻿<div>
    <h3><i class="fa fa-user-secret"></i> Profile</h3>
</div>
<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div>
            <!--ko ifnot: showEditForm-->
            <div class="panel panel-default">
                <div class="panel-heading">Bio</div>
                <div class="panel-body">
                    <form class="form-horizontal" data-bind="with: entity">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Username</label>
                            <div class="col-md-6">
                                <p class="form-control-static"><span data-bind="text: Username"></span></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Password</label>
                            <div class="col-md-6">
                                <p class="form-control-static"><span data-bind="text: Password"></span></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">FirstName</label>
                            <div class="col-md-6">
                                <p class="form-control-static"><span data-bind="text: FirstName"></span></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">LastName</label>
                            <div class="col-md-6">
                                <p class="form-control-static"><span data-bind="text: LastName"></span></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">DateOfBirth</label>
                            <div class="col-md-6">
                                <p class="form-control-static"><span data-bind="text: DateOfBirth"></span></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Location</label>
                            <div class="col-md-6">
                                <p class="form-control-static"><span data-bind="text: Location"></span></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-6">
                                <button class="btn btn-default" data-bind="click: $root.toggleShowEditForm">Update Bio</button>
                                <button class="btn btn-default" data-bind="click: $root.backToEntityList">Back</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--/ko-->
        </div>
        <div>
            <!--ko if: showEditForm-->
            <div class="panel panel-default">
                <div class="panel-heading">Bio</div>
                <div class="panel-body">
                    <form class="form-horizontal" data-bind="with: entity" id="profile-bio-form">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Username</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Username" data-bind="value: Username" disabled />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Password</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Password" data-bind="value: Password" disabled />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">FirstName</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="FirstName" data-bind="value: FirstName" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">LastName</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="LastName" data-bind="value: LastName" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">DateOfBirth</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="DateOfBirth" data-bind="value: DateOfBirth" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Location</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="FirstName" data-bind="value: Location" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-6">
                                <button class="btn btn-primary" data-bind="click: $root.editEntity">Update Bio</button>
                                <button class="btn btn-default" data-bind="click: $root.toggleShowEditForm">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--/ko-->
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div>
            <div class="panel panel-default">
                <div class="panel-heading">Password</div>
                <div class="panel-body">
                    <form class="form-horizontal" data-bind="with: entity" id="profile-password-form">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Old Password</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Password" name="Password" id="Password" data-bind="value: Password" disabled />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">New Password</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Password" name="NewPassword" id="NewPassword" data-bind="value: $root.userNewPassword" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Confirm New Password</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Password" name="ConfirmPassword" id="ConfirmPassword" data-bind="value: $root.userConfirmPassword" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-6">
                                <button class="btn btn-primary" data-bind="click: $root.editPassword">Update Password</button>
                                <button class="btn btn-default" data-bind="click: $root.backToEntityList">Back</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
