<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">Incidere Admin</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav">
                <!--ko foreach: router.navigationModel-->
                <li class="nav-item" data-bind="css: { active: isActive }">
                    <a class="nav-link" data-bind="attr: { href: hash }, text: title"></a>
                </li>
                <!--/ko-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user-secret"></i> <span class="caret"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item">Sign in as<br /><strong><span data-bind="text: username">username</span></strong></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#profile">Profile</a>
                        <a class="dropdown-item" href="#setting">Setting</a>
                        <!--<div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Help</a>
                    <a class="dropdown-item" href="#">About</a>-->
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/Home/Logout">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div data-bind="router: {  }"></div>
</div>

<footer class="footer">
    <div class="container">
        <span class="text-muted">&copy; nazrulhisham_ / Incidere.</span>
    </div>
</footer>