@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">@System.Configuration.ConfigurationManager.AppSettings["ApplicationName"]</h1>
        <p class="lead">@System.Configuration.ConfigurationManager.AppSettings["ApplicationName"] is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
</div>

<div class="container">
    <div class="text-center h6">
        <p>ASP.NET <small class="text-muted">.NET Framework 4.6.1</small></p>
        <p>@System.Configuration.ConfigurationManager.AppSettings["ApplicationName"] <small class="text-muted">version 1.0.0</small></p>
        <p>jQuery <small class="text-muted">version 3.1.1</small></p>
        <p>Durandal <small class="text-muted">version 2.2.0</small></p>
        <p>Knockout <small class="text-muted">version 3.4.2</small></p>
        <p>RequireJS <small class="text-muted">version 2.3.5</small></p>
        <p>Bootstrap <small class="text-muted">version 4.0.0-beta</small></p>        
    </div>
</div>