﻿<div>
    <h3>
        <i class="fa fa-address-book"></i> Address Books
        <i class="fa fa-spinner fa-pulse fa-fw" data-bind="visible: isBusy"></i>
    </h3>
    <div class="float-right">
        <form>
            <div class="form-row">
                <div class="col">
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar Pager">
                        <div class="btn-group" role="group" aria-label="Pager">
                            <button class="btn btn-primary" title="Previous page" data-bind="click: pagerPrevPage, disable: !pagerPrev()"><i class="fa fa-arrow-circle-o-left"></i></button>
                            <button class="btn btn-primary" title="First page" data-bind="click: pagerSelfPage, disable: !pagerSelf()"><i class="fa fa-stop-circle-o"></i></button>
                            <button class="btn btn-primary" title="Next page" data-bind="click: pagerNextPage, disable: !pagerNext()"><i class="fa fa-arrow-circle-o-right"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <select class="form-control form-control-sm custom-select" id="page-pager-size" data-bind="options: pagerAvailSize, value: pagerSize"></select>
                </div>
            </div>
        </form>
    </div>
    <div class="clearfix"><br /><br /></div>
    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th scope="col" class="d-none d-sm-table-cell">&nbsp;</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col"><a href="#addressbook-details/0" title="Add"><i class="fa fa-address-book"></i></a></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: list">
            <tr>
                <th scope="row" class="d-none d-sm-table-cell"><span data-bind="text: ($root.pagerSize() * ($root.pagerPage() - 1)) + $index() + 1"></span>.</th>
                <td><span data-bind="text: ContactPerson">name</span></td>
                <td><span data-bind="text: ContactInformation.Email">email</span></td>
                <td>
                    <a data-bind="attr: { href: '#addressbook-details/' + FirebaseKey }" title="Details/Edit/Delete">
                        <i class="fa fa-clipboard"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>